<p id="notice"><%= notice %></p>

<p>
  <strong>Status type:</strong>
  <%= @sales_status.status_type %>
</p>

<%= link_to 'Edit', edit_sales_status_path(@sales_status) %> |
<%= link_to 'Back', sales_statuses_path %>
