<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_price %><br>
    <%= f.text_field :quote_price %>
  </div>
  <div class="field">
    <%= f.label :quote_status_id %><br>
    <%= f.collection_select :quote_status_id, QuoteStatus.all, :id, :status_type %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.collection_select :car_id, Car.all, :id , :getModel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
