<p id="notice"><%= notice %></p>

<p>
  <strong>Quote price:</strong>
  <%= @quote.quote_price %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.quote_status.status_type %>
</p>

<p>
  <strong>Car Model:</strong>
  <%= @quote.car.getModel %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
