<p id="notice"><%= notice %></p>

<h1>Listing Quote Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_statuses.each do |quote_status| %>
      <tr>
        <td><%= quote_status.status_type %></td>
        <td><%= link_to 'Show', quote_status %></td>
        <td><%= link_to 'Edit', edit_quote_status_path(quote_status) %></td>
        <td><%= link_to 'Destroy', quote_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote status', new_quote_status_path %>
