<p id="notice"><%= notice %></p>

<p>
  <strong>Position desc:</strong>
  <%= @emp_position.position_desc %>
</p>

<%= link_to 'Edit', edit_emp_position_path(@emp_position) %> |
<%= link_to 'Back', emp_positions_path %>
