/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header{
    margin: auto;
    margin-top: auto;
    padding: 20px;
    witdth: 100%;
    background-color:#CCCCCC ;
    color: #000000;
    border-bottom: solid 1px #000000;

}
table {

    margin:0px;padding:0px;
    width:50%;
    box-shadow: 5px 5px 5px #CCCCCC;
    border:1px solid #000000;
    border-collapse:collapse;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;


}



td,th {
    border: 1px solid black;
}