<!DOCTYPE html>
<html>
<head>
  <title>Automotivation inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <h1> Automotivation Inc. Dashboard</h1>
  <%= link_to 'Home', root_url%>
  <%= link_to 'Sale', sales_url %>
  <%= link_to 'Cars Inventory', cars_url %>
  <%= link_to 'Quote', quotes_url %>
  <%= link_to 'Employee', employees_url %>
  <%= link_to 'Customer', customers_url %>

</div>
<%= yield %>

</body>
</html>
